.container {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

mat-list {
    height: 86vh;
    overflow-y: scroll;
    overflow-x: hidden;
    mat-list-item {
        color: black;
    }

    #own-message {
        color: red;
    }
}

#write-message-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #a9a9a9;

    form {
        padding: 2rem;
        display: flex;
        justify-content: space-between;

        mat-form-field {
            width: 80%;
        }

        button {
            height: 56.56px;
        }
    }
}